<div class="product-card w-100">
    <img src="<%= data[i].image%>" class="w-100">
    <div>
        <h5>
            <%= data[i].title%>
        </h5>
        <h3>
            <%= data[i].price%>
        </h3>
        <span>تومان</span>
        <a href="/product" id="<%= data[i].id%>" class="button">خرید</a>
    </div>
</div>