<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">MAKTAB62</a>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="/">خانه</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="/contact">تماس با ما</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link " href="/about" tabindex="-1">درباره ما</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control ms-2" type="search" placeholder="جستجو ..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">جستجو</button>
                </form>
            </div>
        </div>
    </div>
</nav>